
@font-face {
	font-family: NordiquePro;
	src: url(../includes/fonts/NordiquePro.ttf);
}
@font-face {
	font-family: MuseoSans;
	src: url(../includes/fonts/MuseoSansCyrl.ttf);
}



.hidden{
	display: none;
}

#mainContainer{
	display: flex;
	flex-direction: column;
}

/* HEADER START */

.header{
	background-color: #39433c;
	color: #e2e8a5;
}
.logo{
	background-color: grey;
	padding: 20px;
}

nav{
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 22pt;
	font-family: NordiquePro;
}

ul{ 
	list-style: none;
}
ul li{
	float: left;
	margin-left: 100px;
	background-color: grey;
	padding: 20px;

}
ul li a{

	color: #e2e8a5;
	text-decoration: none;
	letter-spacing: 3px;
}


#call-to-action{
	padding: 140px 0px 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#call-to-action p{
	font-family: MuseoSans;
	font-size: 30pt;
}
.header_image{
	width: 920px;
	height: 450px;
	background-color: #f9ad81;
	margin-left: 100px;
}

.header_image p, .image p, .box p{
	text-align: center;
	margin-top: 200px;
}
.button{

	width: 70%;
	margin-top: 30px;
	align-self: center;
}
.button span {
	font-family: NordiquePro;
	font-size: 22pt;
	border-radius: 50px;
	background-color: #9d4141;
	text-align: center;
	color: #e2e8a5;
	padding: 10px;
}

/* HEADER END */

/* GALLERY START */
#gallery{
	background-color: #e2e8a5;
	padding: 100px 0px;
}
.gallery-container{
	
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.image{
	width: 500px;
	height: 500px;
	background-color: #a3d39c;
	border: 1px solid black;
}
#ProductInfo{
	padding: 80px 0px;
	background-color: #a3d39c;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.info{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.box{
	width: 500px;
	height: 650px;
	background-color: #00746b;
}
.info_header{
	background-color: #00746b;
	width: 500px;
	height: 80px;
	text-align: center;
}
.info_text{
	background-color: #e2e8a5;
	width: 500px;
	height: 400px;
}

/* GALLERY END*/

/* FOOTER START */

#footer{
	background-color: #39433c;
	height: 500px;
}
#footer nav{
	position: relative;
	top: 40%;
	flex-direction: row-reverse;
}
#footer nav p{
	position: absolute;
	bottom: 10px;
	right: 230px;
}
/* FOOTER END */

/* SHOP PAGE START */

#heroImage{
	height: 700px;
	background-color: #f9ad81;
	position: relative;
}

#heroImage p{
	font-size: 24px;
	left: 50%;
	top: 50%;
	position: absolute;
}

#ProductGallery{
	background-color: #e2e8a5;
}
.product {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 100px;
}
.product .text{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.product .info_text {
	background-color: #f9ad81;
	position: relative;
}

.product .button{
	position: absolute;
	left: 150px;
	bottom: 50px;
}
.reverse{
	flex-direction: row-reverse;
}

.product span{
	padding: 10px 60px;
}
